html{
    background: linear-gradient(#ACD244, rgba(0, 0, 0, 0.82));
}

.ke-page-container{
    background: linear-gradient(#ACD244, rgba(0, 0, 0, 0.82));
}
.ke-page-content{
    background: linear-gradient(#ACD244, rgba(0, 0, 0, 0.82));
}
