.padding-15{
    padding: 15px;
}
.padding-5{
    padding: 5px;
}

.text{
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content-custom{
    padding-bottom: 20px;
    padding-top: 20px;
}
.invalid-input{
    border-color: #dc3545
}
/*input:invalid {*/
    /*box-shadow: 0 0 5px 1px red;*/
/*}*/

